<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title> {% block title %}{% endblock %} </title>
        <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
{% block header %}
	<header>
		<a href="/dashboard">
		<img src="/static/img/paw.svg" alt="" style="width: 20px; height: 20px; padding: 0%;">
		<span style="font-size: 20px; font-weight: bold; color: #333;">VetClinic</span>
		</a>
	</header>
{% endblock %}
	<main>
		{% block main %}
		{% endblock %}
	</main>
	
	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
	
	
</body>
</html>
