{% extends 'base_template.html' %}

{% block title %}Consultas{% endblock %}
{% block main %}
<h2>Consultas</h2>
<table>
        <tr>
                <th>ID</th>
                <th width="200">Horario</th>
                <th width="200">Mascota</th>
                <th width="200">Doctor</th>
        </tr>
        <tr>
                <td>{%for i in data%}<dl>{{i[0]}}</dl>{%endfor%}</td>
                <td>{%for i in data%}<dl>{{i[1]}}</dl>{%endfor%}</td>
                <td>{%for i in data%}<dl>{{i[2]}}</dl>{%endfor%}</td>
                <td>{%for i in data%}<dl>{{i[3]}}</dl>{%endfor%}</td>
        </tr>
</table>
<br>

</table>
<h3>Registrar Consulta</h3>
<form action="/reg_app" method="POST"><!--Función Registrar-->
        <input type="text" name="horario" id="horario" placeholder="Horario" required>
        <input type="number" name="pet" id="pet" placeholder="ID Mascota" required>
        <input type="number" name="doc" id="doc" placeholder="ID Doctor" required>
        <button type="submit">Guardar</button>
</form>
<h3>Actualizar Consulta</h3>
<form action="/up_app" method="POST"> <!--Función Actualizar-->
        <input type="text" name="id" id="id" placeholder="ID" required>
        <input type="text" name="horario" id="horario" placeholder="Horario" required>
        <input type="number" name="doc" id="doc" placeholder="ID Doctor" required>
        <button type="submit">Actualizar</button>
</form>
<h3>Eliminar Consulta</h3>
<form action="/del_app" method="POST"> <!--Función Eliminar-->
        <input type="text" name="id" id="id" placeholder="ID" required>
        <button type="submit">Eliminar</button>
</form>
<br>
</body>
{% endblock %}

{%block footer %}
{%endblock%}
